<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Dragons</title>
</head>
<body>
    <div class="tabs is-centered">
        <ul>
          <li class="is-active" >
          <li><a href="/">Home</a></li>
          <li><a href="capsules">Capsules</a></li>
          <li><a href="cores">Cores</a></li>
          <li><a href="crew">Crew</a></li>
          <li><a href="dragons">Dragons</a></li>
          <li><a href="history">History</a></li>
          <li><a href="landpads">Landpads</a></li>
          <li><a href="launches">Launches</a></li>
          <li><a href="launchpads">Launchpads</a></li>
          <li><a href="payloads">Payloads</a></li>
          <li><a href="roadster">Roadster</a></li>
          <li><a href="rockets">Rockets</a></li>
          <li><a href="ships">Ships</a></li>
          <li><a href="starlink">Starlink</a></li>
        </ul>
      </div>
    <% for( let i = 0; i < dragons.length; i++ ) { 
        let dragon = dragons[i]; %>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
             <div class="content">
                <p class="title"> <%= dragon.name %> </p>
                <p class="subtitle"></p>
                <div class="content">
                    Type: <%= dragon.type %>
                    <br>
                    Active Status: <%= dragon.active %>
                    <br>
                    Crew Capacity: <%= dragon.crew_capacity %>
                </div>
             </div>
            </article>
        </div> 

    <% } %>
    
</body>
</html>